-- MySQL dump 10.13  Distrib 8.4.6, for Win64 (x86_64)
--
-- Host: localhost    Database: plataforma_pyme_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `amortizacion`
--

DROP TABLE IF EXISTS `amortizacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `amortizacion` (
  `CuotaID` int NOT NULL AUTO_INCREMENT,
  `PrestamoID` int NOT NULL,
  `NumeroCuota` int NOT NULL,
  `FechaVencimiento` date NOT NULL,
  `MontoCapital` decimal(18,2) NOT NULL,
  `MontoInteres` decimal(18,2) NOT NULL,
  `MontoCuota` decimal(18,2) GENERATED ALWAYS AS ((`MontoCapital` + `MontoInteres`)) STORED,
  `SaldoCapital` decimal(18,2) NOT NULL,
  `Pagada` tinyint(1) DEFAULT '0',
  `FechaPago` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`CuotaID`),
  UNIQUE KEY `unique_cuota_prestamo` (`PrestamoID`,`NumeroCuota`),
  KEY `idx_prestamo` (`PrestamoID`),
  KEY `idx_fecha_vencimiento` (`FechaVencimiento`),
  KEY `idx_pagada` (`Pagada`),
  CONSTRAINT `amortizacion_ibfk_1` FOREIGN KEY (`PrestamoID`) REFERENCES `prestamos` (`PrestamoID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `amortizacion`
--

LOCK TABLES `amortizacion` WRITE;
/*!40000 ALTER TABLE `amortizacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `amortizacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes` (
  `ClienteID` int NOT NULL AUTO_INCREMENT,
  `NIT` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `RazonSocial` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `FechaConstitucion` date DEFAULT NULL,
  `SectorEconomico` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `EmailContacto` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Telefono` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Direccion` text COLLATE utf8mb4_unicode_ci,
  `CanalAdquisicion` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `FechaCreacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `Estado` enum('Activo','Inactivo','Suspendido') COLLATE utf8mb4_unicode_ci DEFAULT 'Activo',
  PRIMARY KEY (`ClienteID`),
  UNIQUE KEY `NIT` (`NIT`),
  KEY `idx_nit` (`NIT`),
  KEY `idx_sector` (`SectorEconomico`),
  KEY `idx_fecha_creacion` (`FechaCreacion`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
INSERT INTO `clientes` VALUES (1,'900123456-1','Comercializadora ABC SAS','2020-03-15','Comercio','gerencia@comercializadoraabc.com','3101234567','Calle 100 #15-20','Web','2025-09-27 20:07:37','Activo'),(2,'800987654-2','Industrias XYZ LTDA','2018-07-22','Manufactura','contacto@industriasxyz.com','3109876543','Carrera 50 #30-45','Referido','2025-09-27 20:07:37','Activo'),(3,'700555444-3','Servicios Tech Solutions SAS','2021-11-10','Tecnolog├¡a','info@techsolutions.com','3155554444','Zona Rosa, Bogot├í','Marketing Digital','2025-09-27 20:07:37','Activo');
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documentos`
--

DROP TABLE IF EXISTS `documentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documentos` (
  `DocumentoID` int NOT NULL AUTO_INCREMENT,
  `SolicitudID` int NOT NULL,
  `TipoDocumento` enum('Camara_Comercio','RUT','Estados_Financieros','Cedula_Representante','Autorizacion_Centrales','Otros') COLLATE utf8mb4_unicode_ci NOT NULL,
  `NombreArchivo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `URLAlmacenamiento` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `TamanoArchivo` bigint DEFAULT NULL,
  `TipoMime` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `FechaCarga` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `Estado` enum('Pendiente','Validado','Rechazado') COLLATE utf8mb4_unicode_ci DEFAULT 'Pendiente',
  `ObservacionesValidacion` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`DocumentoID`),
  KEY `idx_solicitud` (`SolicitudID`),
  KEY `idx_tipo_documento` (`TipoDocumento`),
  CONSTRAINT `documentos_ibfk_1` FOREIGN KEY (`SolicitudID`) REFERENCES `solicitudescredito` (`SolicitudID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documentos`
--

LOCK TABLES `documentos` WRITE;
/*!40000 ALTER TABLE `documentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `documentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluacionesriesgo`
--

DROP TABLE IF EXISTS `evaluacionesriesgo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evaluacionesriesgo` (
  `EvaluacionID` int NOT NULL AUTO_INCREMENT,
  `SolicitudID` int NOT NULL,
  `UsuarioID` int NOT NULL,
  `ScoreCrediticio` int DEFAULT NULL,
  `NivelRiesgo` enum('Bajo','Medio','Alto','Muy_Alto') COLLATE utf8mb4_unicode_ci NOT NULL,
  `MontoMaximoAprobado` decimal(18,2) DEFAULT NULL,
  `TasaInteresSugerida` decimal(5,2) DEFAULT NULL,
  `Observaciones` text COLLATE utf8mb4_unicode_ci,
  `FechaEvaluacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`EvaluacionID`),
  KEY `UsuarioID` (`UsuarioID`),
  KEY `idx_solicitud` (`SolicitudID`),
  KEY `idx_score` (`ScoreCrediticio`),
  CONSTRAINT `evaluacionesriesgo_ibfk_1` FOREIGN KEY (`SolicitudID`) REFERENCES `solicitudescredito` (`SolicitudID`),
  CONSTRAINT `evaluacionesriesgo_ibfk_2` FOREIGN KEY (`UsuarioID`) REFERENCES `usuariosinternos` (`UsuarioID`),
  CONSTRAINT `evaluacionesriesgo_chk_1` CHECK (((`ScoreCrediticio` >= 0) and (`ScoreCrediticio` <= 1000)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluacionesriesgo`
--

LOCK TABLES `evaluacionesriesgo` WRITE;
/*!40000 ALTER TABLE `evaluacionesriesgo` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluacionesriesgo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inversiones`
--

DROP TABLE IF EXISTS `inversiones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inversiones` (
  `InversionID` int NOT NULL AUTO_INCREMENT,
  `InversionistaID` int NOT NULL,
  `PrestamoID` int NOT NULL,
  `MontoInvertido` decimal(18,2) NOT NULL,
  `PorcentajeInversion` decimal(5,2) NOT NULL,
  `FechaInversion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `Estado` enum('Activa','Finalizada') COLLATE utf8mb4_unicode_ci DEFAULT 'Activa',
  PRIMARY KEY (`InversionID`),
  KEY `idx_inversionista` (`InversionistaID`),
  KEY `idx_prestamo` (`PrestamoID`),
  CONSTRAINT `inversiones_ibfk_1` FOREIGN KEY (`InversionistaID`) REFERENCES `inversionistas` (`InversionistaID`),
  CONSTRAINT `inversiones_ibfk_2` FOREIGN KEY (`PrestamoID`) REFERENCES `prestamos` (`PrestamoID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inversiones`
--

LOCK TABLES `inversiones` WRITE;
/*!40000 ALTER TABLE `inversiones` DISABLE KEYS */;
/*!40000 ALTER TABLE `inversiones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inversionistas`
--

DROP TABLE IF EXISTS `inversionistas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inversionistas` (
  `InversionistaID` int NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `TipoInversionista` enum('Persona_Natural','Fondo','Empresa') COLLATE utf8mb4_unicode_ci NOT NULL,
  `Email` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Telefono` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `MontoDisponible` decimal(18,2) DEFAULT '0.00',
  `Estado` enum('Activo','Inactivo') COLLATE utf8mb4_unicode_ci DEFAULT 'Activo',
  `FechaRegistro` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`InversionistaID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inversionistas`
--

LOCK TABLES `inversionistas` WRITE;
/*!40000 ALTER TABLE `inversionistas` DISABLE KEYS */;
INSERT INTO `inversionistas` VALUES (1,'Fondo Capital Ventures','Fondo','inversiones@capitalventures.com',NULL,5000000.00,'Activo','2025-09-27 20:07:40'),(2,'Mar├¡a Rodr├¡guez','Persona_Natural','maria.rodriguez@email.com',NULL,500000.00,'Activo','2025-09-27 20:07:40');
/*!40000 ALTER TABLE `inversionistas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `logactividades`
--

DROP TABLE IF EXISTS `logactividades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `logactividades` (
  `LogID` int NOT NULL AUTO_INCREMENT,
  `TipoEntidad` enum('Cliente','Solicitud','Prestamo','Pago','Usuario') COLLATE utf8mb4_unicode_ci NOT NULL,
  `EntidadID` int NOT NULL,
  `Accion` enum('CREATE','UPDATE','DELETE','LOGIN','LOGOUT','APROBACION','RECHAZO') COLLATE utf8mb4_unicode_ci NOT NULL,
  `UsuarioID` int DEFAULT NULL,
  `IPAddress` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `UserAgent` text COLLATE utf8mb4_unicode_ci,
  `DatosAnteriores` json DEFAULT NULL,
  `DatosNuevos` json DEFAULT NULL,
  `Detalles` text COLLATE utf8mb4_unicode_ci,
  `FechaActividad` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`LogID`),
  KEY `idx_entidad` (`TipoEntidad`,`EntidadID`),
  KEY `idx_usuario` (`UsuarioID`),
  KEY `idx_fecha` (`FechaActividad`),
  CONSTRAINT `logactividades_ibfk_1` FOREIGN KEY (`UsuarioID`) REFERENCES `usuariosinternos` (`UsuarioID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `logactividades`
--

LOCK TABLES `logactividades` WRITE;
/*!40000 ALTER TABLE `logactividades` DISABLE KEYS */;
/*!40000 ALTER TABLE `logactividades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagos`
--

DROP TABLE IF EXISTS `pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pagos` (
  `PagoID` int NOT NULL AUTO_INCREMENT,
  `PrestamoID` int NOT NULL,
  `MontoPagado` decimal(18,2) NOT NULL,
  `FechaPago` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `MedioDePago` enum('PSE','Transferencia','ACH','Efectivo','Cheque') COLLATE utf8mb4_unicode_ci NOT NULL,
  `ReferenciaPago` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `EstadoPago` enum('Exitoso','Pendiente','Fallido','Reversado') COLLATE utf8mb4_unicode_ci DEFAULT 'Exitoso',
  `ObservacionesPago` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`PagoID`),
  KEY `idx_prestamo` (`PrestamoID`),
  KEY `idx_fecha_pago` (`FechaPago`),
  KEY `idx_estado_pago` (`EstadoPago`),
  CONSTRAINT `pagos_ibfk_1` FOREIGN KEY (`PrestamoID`) REFERENCES `prestamos` (`PrestamoID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagos`
--

LOCK TABLES `pagos` WRITE;
/*!40000 ALTER TABLE `pagos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prestamos`
--

DROP TABLE IF EXISTS `prestamos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prestamos` (
  `PrestamoID` int NOT NULL AUTO_INCREMENT,
  `SolicitudID` int NOT NULL,
  `NumeroContrato` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `MontoAprobado` decimal(18,2) NOT NULL,
  `TasaInteresAnual` decimal(5,2) NOT NULL,
  `PlazoMeses` int NOT NULL,
  `FechaAprobacion` date NOT NULL,
  `FechaDesembolso` date DEFAULT NULL,
  `SaldoPendiente` decimal(18,2) DEFAULT '0.00',
  `EstadoPrestamo` enum('Aprobado','Activo','Pagado','En_Mora','Castigado') COLLATE utf8mb4_unicode_ci DEFAULT 'Aprobado',
  `FechaCreacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `FechaActualizacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`PrestamoID`),
  UNIQUE KEY `SolicitudID` (`SolicitudID`),
  UNIQUE KEY `NumeroContrato` (`NumeroContrato`),
  KEY `idx_solicitud` (`SolicitudID`),
  KEY `idx_estado` (`EstadoPrestamo`),
  KEY `idx_fecha_desembolso` (`FechaDesembolso`),
  CONSTRAINT `prestamos_ibfk_1` FOREIGN KEY (`SolicitudID`) REFERENCES `solicitudescredito` (`SolicitudID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prestamos`
--

LOCK TABLES `prestamos` WRITE;
/*!40000 ALTER TABLE `prestamos` DISABLE KEYS */;
/*!40000 ALTER TABLE `prestamos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `solicitudescredito`
--

DROP TABLE IF EXISTS `solicitudescredito`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `solicitudescredito` (
  `SolicitudID` int NOT NULL AUTO_INCREMENT,
  `ClienteID` int NOT NULL,
  `MontoSolicitado` decimal(18,2) NOT NULL,
  `PlazoMeses` int NOT NULL,
  `PropositoCredito` text COLLATE utf8mb4_unicode_ci,
  `EstadoSolicitud` enum('Recibida','En_Analisis','Aprobada','Rechazada','Cancelada','Desembolsada') COLLATE utf8mb4_unicode_ci DEFAULT 'Recibida',
  `FechaSolicitud` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `FechaActualizacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `UsuarioAsignado` int DEFAULT NULL,
  `ObservacionesRechazo` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`SolicitudID`),
  KEY `UsuarioAsignado` (`UsuarioAsignado`),
  KEY `idx_cliente` (`ClienteID`),
  KEY `idx_estado` (`EstadoSolicitud`),
  KEY `idx_fecha_solicitud` (`FechaSolicitud`),
  CONSTRAINT `solicitudescredito_ibfk_1` FOREIGN KEY (`ClienteID`) REFERENCES `clientes` (`ClienteID`),
  CONSTRAINT `solicitudescredito_ibfk_2` FOREIGN KEY (`UsuarioAsignado`) REFERENCES `usuariosinternos` (`UsuarioID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `solicitudescredito`
--

LOCK TABLES `solicitudescredito` WRITE;
/*!40000 ALTER TABLE `solicitudescredito` DISABLE KEYS */;
/*!40000 ALTER TABLE `solicitudescredito` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuariosinternos`
--

DROP TABLE IF EXISTS `usuariosinternos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuariosinternos` (
  `UsuarioID` int NOT NULL AUTO_INCREMENT,
  `NombreCompleto` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `PasswordHash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Rol` enum('Admin','Analista','Cartera','Supervisor') COLLATE utf8mb4_unicode_ci NOT NULL,
  `Estado` enum('Activo','Inactivo') COLLATE utf8mb4_unicode_ci DEFAULT 'Activo',
  `FechaCreacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `UltimoAcceso` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`UsuarioID`),
  UNIQUE KEY `Email` (`Email`),
  KEY `idx_email` (`Email`),
  KEY `idx_rol` (`Rol`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuariosinternos`
--

LOCK TABLES `usuariosinternos` WRITE;
/*!40000 ALTER TABLE `usuariosinternos` DISABLE KEYS */;
INSERT INTO `usuariosinternos` VALUES (1,'Administrador Sistema','admin@pymecredito.com','$2b$10$hashedpassword','Admin','Activo','2025-09-27 20:07:25',NULL),(2,'Ana Garc├¡a - Analista','ana.garcia@pymecredito.com','$2b$10$hashedpassword','Analista','Activo','2025-09-27 20:07:25',NULL),(3,'Carlos Ruiz - Cartera','carlos.ruiz@pymecredito.com','$2b$10$hashedpassword','Cartera','Activo','2025-09-27 20:07:25',NULL);
/*!40000 ALTER TABLE `usuariosinternos` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-27 17:45:26
